<nav class="navbar navbar-dark bg-danger">
  <span class="navbar-brand" style="color: #fff"><%= pageTitle%></span>

  <div class="col s12">
    <a
      href="/logout"
      class="btn btn-danger btn-sm "
      style="align-self: flex-end"
      >Log Out</a
    >
  </div>
</nav>
